{% extends "base_generic.html" %}


{% block sidebar %}
  {{ block.super }}
  {% if user.is_authenticated %}
  <hr>
  <ul class="sidebar-nav">
    <li><a href="{% url 'post-update' post.id %}">Update post</a></li>
    <li><a href="{% url 'post-delete' post.id %}">Delete post</a></li>
  </ul>
  {% endif %}
{% endblock %}

{% block content %}
  <h1>Title: {{ post.title }}</h1>

  <p><strong>Published:</strong> {{ post.published_date }}</p>
  <p><strong>Author:</strong> <a href="{{ post.author.get_absolute_url }} ">{{ post.author }}</a></p>  
  <p><strong>Description:</strong> {{ post.content }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Comments</h4>

    {% for comment in post.comment_set.all %}
      <hr />
      {{comment.author}}
      {{comment.content}}
    {% endfor %}..............
  </div>
{% endblock %}