{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Account: {{ user.username }}</h1>

{% if user.post_set.all %}

<p>All posts below will also be deleted:</p>
<ul>
  {% for post in user.post_set.all %}
    <li><a href="{% url 'post-detail' post.id %}">{{post}}</a> ({{user.post_set.all.count}})</li>
  {% endfor %}
</ul>

{% else %}
<p>Are you sure you want to delete this account?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete.">
</form>
{% endif %}

{% endblock %}